<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>


<p>

  <%= @restaurant.reviews.last.content %>
  <%= @restaurant.reviews.last.rating %>
</p>


<strong>Reviews</strong>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Create a Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<h1>New Review</h1>

<%= render 'review_form', review: @review %>

<%= link_to 'Back', restaurants_path %>
